:root {
  --primary: #2466ac;
  --primary-dark: #3f3f3f;
  --font: #f1f1f1;
}

body {
  background: #000000;
  margin: 0;
}

header {
  background: var(--primary);
  border-radius: 3px;
}

header .container {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 auto;
}

header a, header span {
  text-decoration: none;
  color: var(--font);
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  margin-left: 10px;
  border-radius: 4px;
  padding: 6px 10px;
}

.pages {
  padding: 20px;
  margin: 0 auto;
  color: var(--font);
}

form.signup, form.login, form.question-add {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--primary-dark);
  border-radius: 4px;
}

label, input {
  display: block;
  color: var(--font);
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #777777;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--font);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

div.chat-screen {
  height: 84vh;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--primary-dark);
}

div.chat-window {
  width: auto;
  height: 74vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

form h3 {
  text-align: center;
  align-items: center;
  color: var(--font)
}

div.prompt-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

form.chat {
  /* background-color: #000000; */
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  /* border-radius: 25%; */
}

form.chat button {
  align-items: center;
  margin-left: 15px;
}

div.prompt-card {
  margin-left: auto; 
  margin-right: 0;
}

div.prompt-card p {
  align-items: center;
  text-align: right;
  color: var(--font);
  background-color: #000000;
  margin: 5px;
  padding: 10px;
  width: fit-content;
  border-radius: 25%;
}

div.resp-card p {
  align-items: center;
  color: var(--font);
  background-color: #000000;
  margin: 5px;
  padding: 10px;
  width: fit-content;
  border-radius: 25%;
}